{% extends "greeting/index.html" %}
{% block title %}Fresh hot greetings!{% endblock %}

{% block body %}
<ul id="greeting_list">
{% for greeting in greetings %}
  <li>{{  greeting.greeting_text }}
{% endfor %}
</ul>
<script>
  function poll(timestamp) {
    $.post("/greeting/pull/" + timestamp, function(data) {
      $.each(data.greetings, function (_, greeting) {
        $("#greeting_list").append("<li>" + greeting.greeting_text)
      })
      poll(data.timestamp)
    })
  }

  $(document).ready(function() {
    poll({{ timestamp }})
  })
</script>
{% endblock %}
